.words {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #201e1e;
  height: 100vh;
  gap: 10px;
  &_footer{
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    &_showing{
      font-size: 14px;
      color: darkgrey;
    }
  }
  &_containerWords{
    &::-webkit-scrollbar-thumb {
      border-radius: 100px;
      background-image: linear-gradient(180deg, #294adc, #4e97e5);
      box-shadow: 0 10px 0 1px #111;
      border: none;
    }

    &::-webkit-scrollbar-track {
      background-color: #000000;
    }

    &::-webkit-scrollbar {
      width: 10px;
    }
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 96%;
    height: 65vh;
    background-color: #201e1e;
  }
  &_header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 25vh;

    &_filters {
      box-shadow: 0 0 15px #525461;
      width: 32%;
      min-height: 200px;
      border-radius: 20px;
      background-color: #525461;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;

      img {
        width: 30%;
      }

      &_description {
        width: 300px;
        height: 200px;
        margin: 0 16px;
        color: white;

        h2 {
          text-shadow: 0 0 2px black;
          font-weight: 900;
        }

        p {
          font-family: "Calibri Light";
          font-size: 16px;
        }
      }
    }

    &_search {
      box-shadow: 0 0 15px #be69da;
      width: 25%;
      min-height: 200px;
      border-radius: 20px;
      background-color: #be69da;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;

      button{
        transition: 1s;
        &:hover{
          transform: rotateZ(360deg);
        }
        cursor: pointer;
        box-shadow: 0 0 10px black;
        background-color: rgba(32, 30, 30, 0.85);
        color: #be69da;
        width: 80px;
        height: 80px;
        border: none;
        font-size: 60px;
        border-radius: 50%;
      }
      &_description {
        width: 230px;
        min-height: 200px;
        margin: 0 16px;
        color: white;

        h2 {
          text-shadow: 0 0 2px black;
          font-weight: 900;
        }

        p {
          font-family: "Calibri Light";
          font-size: 16px;
        }

        &_newWord {
          font-family: "Calibri Light";
          display: flex;
          flex-direction: column;
          gap: 5px;
          section {
            background-color: white;
            overflow: hidden;
            transition: 1s;
            display: flex;
            width: 40px;
            height: 40px;
            border-radius: 40px;
            input {
              &::placeholder{
                color: darkgrey;
              }
              //color: darkgrey;
              font-size: 15px;
              width: 170px;
              height: 40px;
              border: none;
              outline: none;
            }

            img {
              cursor: pointer;
              width: 40px;
              height: 40px;
            }
          }
          .words_header_search_description_newWord_isActive{
            width: 220px;
          }
        }
      }
    }

    &_description {
      box-shadow: 0 0 15px #6e68eb;
      width: 32%;
      min-height: 200px;
      border-radius: 20px;
      background-color: #6e68eb;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      flex-wrap: wrap;

      section {
        color: white;

        h2 {
          text-shadow: 0 0 2px black;
          font-weight: 900;
        }

        p {
          font-family: "Calibri Light";
          font-size: 16px;
        }

        width: 300px;
        height: 190px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 16px;
      }

      img {
        width: 30%;
      }
    }
  }
}

//.container_words {
//  min-height: 100vh;
//  display: flex;
//  justify-content: flex-start;
//  align-items: flex-start;
//  flex-direction: column;
//  margin: 0 5px;
//
//  .container_words_sort {
//    display: flex;
//    justify-content: flex-start;
//    align-items: flex-start;
//    flex-direction: column;
//
//    .container_words_sort_buttons {
//      font-family: Arial;
//      height: 50px;
//      width: 400px;
//      display: flex;
//      justify-content: center;
//      align-items: center;
//
//      .button_reset_filters {
//        background: none;
//        width: 100px;
//        height: 40px;
//        border-radius: 90px;
//        border: solid rgba(132, 127, 127, 0.35) 1px;
//        font-size: 20px;
//        font-weight: 900;
//        cursor: pointer;
//        color: yellow;
//        transition: 1s;
//
//        &:disabled {
//          opacity: 0.2;
//        }
//
//        &:hover {
//          transform: translate(1.1px);
//          box-shadow: 0 0 10px #ffff01;
//        }
//      }
//
//      p {
//        letter-spacing: 0.5px;
//        font-weight: 900;
//        color: white;
//        font-size: 18px;
//      }
//
//      span {
//        color: yellow;
//        padding-left: 2px;
//        display: inline-block;
//        transition: 0.7s;
//      }
//
//      div {
//        display: flex;
//        justify-content: center;
//        align-items: center;
//        width: 260px;
//        height: 60px;
//
//        div {
//          button {
//            border-radius: 20px;
//            font-weight: 900;
//            cursor: pointer;
//            color: white;
//            border: solid rgba(132, 127, 127, 0.35) 1px;
//            font-family: "Calibri Light";
//            font-size: 15px;
//            background: none;
//            width: 120px;
//            height: 50px;
//            margin: 0 5px;
//            transition: 1s;
//            &:disabled {
//              opacity: 0.2;
//            }
//
//            &:hover {
//              box-shadow: 0 0 10px #ffff16;
//            }
//
//            .container_words_sort_buttons_active {
//              transform: rotate(90deg);
//            }
//          }
//        }
//      }
//    }
//  }
//
//  .container_words_word {
//    display: flex;
//    flex-direction: column;
//    justify-content: flex-start;
//    align-items: flex-start;
//    margin: 5px 0;
//
//    .container_words_pagination {
//      background: #1c1b20;
//      border-radius: 10px;
//      margin-top: 10px;
//      display: flex;
//      justify-content: space-between;
//      align-items: center;
//      width: 99%;
//      height: 63px;
//
//      .container_words_selectDownload {
//        width: 20%;
//        margin-right: 10px;
//        display: flex;
//        justify-content: flex-end;
//        align-items: center;
//
//        div {
//          background: #356aff;
//          border-radius: 30px;
//          display: flex;
//          justify-content: space-between;
//          align-items: center;
//          width: 190px;
//
//          p {
//            color: white;
//            width: 110px;
//            cursor: pointer;
//
//            &:hover {
//              transform: scale(1.05);
//            }
//          }
//
//          select {
//            outline: none;
//            box-shadow: 0 0 5px #5985ff;
//            width: 70px;
//            height: 51px;
//            color: white;
//            font-weight: 900;
//            border-radius: 90px;
//            background: #5985ff;
//            border: none;
//          }
//        }
//      }
//
//      .container_words_pagination_logic {
//        display: flex;
//        justify-content: center;
//        align-items: center;
//        width: 60%;
//
//        div {
//          width: 200px;
//          display: flex;
//          justify-content: center;
//          align-items: center;
//        }
//
//        p {
//          &:hover {
//            transform: scale(1.1);
//          }
//
//          cursor: pointer;
//          color: yellow;
//        }
//      }
//
//      .container_words_pagination_showing {
//        display: flex;
//        width: 20%;
//        margin-left: 10px;
//        justify-content: flex-start;
//        color: rgba(255, 255, 255, 0.44);
//        font-family: "Calibri Light";
//      }
//
//      button {
//        cursor: pointer;
//        width: 30px;
//        height: 50px;
//        color: yellow;
//        border-radius: 90px;
//        font-size: 30px;
//        font-weight: 900;
//        background: none;
//        border: none;
//      }
//
//      button:active {
//        color: #4ca5dc;
//      }
//    }
//
//    .container_words_word_item {
//      &::-webkit-scrollbar-thumb {
//        border-radius: 100px;
//        background-image: linear-gradient(180deg, #294adc, #4e97e5);
//        box-shadow: 0 10px 0 1px #111;
//        border: none;
//      }
//
//      &::-webkit-scrollbar-track {
//        background-color: #000000;
//      }
//
//      &::-webkit-scrollbar {
//        width: 10px;
//      }
//
//      overflow: auto;
//      width: 99%;
//      border-radius: 30px;
//      height: 625px;
//      background: #1c1b20;
//    }
//  }
//
//  .container_words_description {
//    display: flex;
//    justify-content: space-around;
//    height: 170px;
//    font-family: Arial;
//
//    .container_words_description_one {
//      display: flex;
//      flex-direction: column;
//
//      h1 {
//        font-size: 30px;
//        font-weight: 900;
//      }
//
//      p {
//        color: rgba(179, 178, 178, 0.88);
//      }
//    }
//
//    .container_words_description_two {
//      display: flex;
//      justify-content: space-around;
//      align-items: flex-end;
//      flex-direction: column;
//      margin-right: 20px;
//
//      div {
//        display: flex;
//        justify-content: center;
//        align-items: center;
//        border: solid 1px #545563;
//        border-radius: 15px;
//        box-shadow: 0 0 1px white;
//        width: 310px;
//        height: 65px;
//
//        img {
//          transform: rotate(90deg);
//          margin: 0 5px;
//          width: 35px;
//          height: 35px;
//        }
//      }
//
//      button {
//        &:hover {
//          box-shadow: 0 0 10px #0a84de;
//        }
//
//        color: white;
//        font-weight: 900;
//        font-size: 15px;
//        width: 200px;
//        height: 70px;
//        background: linear-gradient(to right, #2295d2, #284196);
//        border-radius: 18px;
//        cursor: pointer;
//        border: none;
//      }
//
//      button:active {
//        box-shadow: inset 0 0 5px black;
//      }
//
//      input {
//        font-weight: 600;
//        outline: none;
//        font-size: 17px;
//        border: none;
//        color: white;
//        background: none;
//        border-radius: 15px;
//        width: 250px;
//        height: 40px;
//      }
//
//      input::placeholder {
//        color: #545563;
//      }
//    }
//  }
//
//  h1 {
//    width: 350px;
//    color: white;
//    height: 15px;
//  }
//
//  p {
//    color: #52d1ff;
//    width: 350px;
//  }
//}
