@import "./src/styles/mixins.scss";
@import "./src/styles/variables.scss";

.container {
  width: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  &_download {
    @include base-flex($justify-spaceA, $align-center, auto, $gap-10);
    @include back-shadow-radius(#356aff, none, 30px);
    align-items: center;
    width: 190px;

    p {
      font-family: $font-lightCalibri;
      color: $color-white;
      cursor: $cursor-pointer;
      padding-left: 5px;
      width: 110px;

      &:hover {
        transform: scale(1.05);
      }
    }

    select {
      @include back-shadow-radius(#5985ff, 0 0 5px #5985ff, 90px);
      @include width-height(70px, 51px);
      border: $border-none;
      outline: $border-none;
      color: $color-white;
      font-weight: $weight-900;
    }
  }
}
