//FlexMixins
@mixin base-flex($justify, $align, $direction, $gap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
}

@mixin base-flex-back($justify, $align, $direction, $gap, $back) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
  background-color: $back;
}

//responsive
@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

@mixin maxWidth-height($width, $height) {
  max-width: $width;
  height: $height;
}

@mixin width-minHeight($width, $height) {
  width: $width;
  min-height: $height;
}

@mixin size-weight-line($size, $weight, $line) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line;
}

@mixin size-weight-spacing($size, $weight, $spacing) {
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $spacing;
}

//position
@mixin base-positionR($top) {
  position: relative;
  top: $top;
}

@mixin base-positionA($left, $top) {
  position: absolute;
  left: $left;
  top: $top;
}

@mixin base-positionF($left) {
  position: fixed;
  left: $left;
}

//background
@mixin back-shadow($back, $shadow) {
  background: $back;
  box-shadow: $shadow;
}

@mixin back-radius($back, $radius) {
  background: $back;
  border-radius: $radius;
}

@mixin back-shadow-radius($back, $shadow, $radius) {
  background: $back;
  box-shadow: $shadow;
  border-radius: $radius;
}

//shadow-text
@mixin text-weight($shadow, $weight) {
  text-shadow: $shadow;
  font-weight: $weight;
}
