@import "src/Styles/mixins.scss";
@import "src/Styles/variables.scss";

@keyframes bye_bye {
  from {
  }
  to {
    transform: rotatez(80deg);
  }
}

.container {
  @include base-flex($justify-start,$align-start,$flex-directionR,auto);
  background-color: black;
  height: 100vh;

  &_logout {
    &:hover > img {
      animation: bye_bye 1s infinite alternate;
    }

    width: 210px;
    cursor: $cursor-pointer;
    margin-top: 250px;
    color: $color-white;
    font-weight: $weight-700;
    @include base-flex($justify-center,$align-center,auto,auto);

    img {
      @include width-height(40px,40px);
      transition: $transition1s;
    }
  }

  &_aside {
    @include base-flex($justify-start,$align-center,$flex-directionC,auto);
    background-color: black;
    @include width-height(300px,100vh);

    figure {
      height: 300px;
      color: $color-white;

      section {
        height: 180px;
        @include base-flex($justify-end,$align-end,auto,auto);

        h1 {
          font-size: 20px;
        }

        sup {
          color: mediumpurple;
          text-decoration: underline;
          text-underline-offset: 3px;
          text-decoration-color: mediumpurple;
        }
      }

      img {
        width: 350px;
        @include base-positionA(-30px,-50px);
      }
    }

    nav {
      color: $color-white;
      @include base-flex($justify-center,$align-center,$flex-directionC,$gap-20);

      section {
        transition: $transition1s;
        opacity: 0.5;
        @include width-height(210px,50px);
        @include base-flex(auto,$align-center,auto,$gap-10);

        img {
          @include width-height(40px,40px);
        }

        a {
          font-family: $font-lightCalibri;
          color: $color-white;
          text-decoration: none;
          @include size-weight-line(18px,$weight-600,auto);
        }
      }

      .container_aside_navActive {
        opacity: 1;
        background-color: #be69da;
        border-radius: 10px;
      }
    }
  }
}

