@import "../../../Styles/mixins";

.hint {
  z-index: 10;
  @include flexDiv(center, center, row);
  @include wi_he(280px, 100px);
  background: #1c1b20;
  transition: 1s;
  border-radius: 30px;
  position: fixed;
  left: 25px;
  cursor: pointer;
  box-shadow: 0 0 5px #b55fda;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;

    span {
      font-size: 20px;
      font-weight: 900;
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }

  img {
    @include wi_he(52px, 52px);
    margin: 0 10px;
  }
}
