@import "src/styles/mixins.scss";

@keyframes loadingAnimation {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  @include base-flex(center, center, auto, auto);
  height: auto;

  img {
    animation: loadingAnimation 1s infinite linear;
  }
}
