@import "../../Styles/mixins.scss";
@import "../../Styles/variables.scss";

.header {
  @include base-flex($justify-center, $align-center, $flex-directionC, auto);
  height: 20vh;

  section {
    @include width-height(340px, 120px);
    @include base-flex($justify-center, $align-center, auto, auto);

    h1 {
      @include base-positionR(50px);
      @include size-weight-line(30px, $weight-900, 24px);
      background-image: linear-gradient(-45deg, #989a9b 50%, #ffffff 50%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      @include base-positionR(60px);
      color: $color-green;
    }
  }

  img {
    width: 250px;
  }
}
