@import './src/styles/mixins.scss';
@import './src/styles/variables.scss';

.container {
  @include base-flex($justify-center,$align-center,auto,$gap-10);
  width: 100%;

  button {
    @include width-height(50px,50px);
    @include back-shadow-radius( #6e68eb,$box-shadow-black,50%);
    cursor: $cursor-pointer;
    color: $color-white;
    border: $border-none;
    font-size: 25px;
  }

  &_pagination {
    @include base-flex($justify-center,$align-center,auto,$gap-15);
    cursor: $cursor-pointer;
    width: 310px;

    section {
      @include base-flex($justify-center,$align-center,auto,auto);
      @include back-shadow-radius(auto,0 0 10px #525461,50%);
      @include width-height(30px,30px);
      p{
        text-align: center;
        width: 30px;
        font-size: 13px;
        padding-bottom: 3px;
      }
    }
  }
}

