body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    font-family: "Segoe UI", sans-serif;
    background: black;
    overflow: auto;
}

body,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}
